@import '~common/style';

.player {
  height: 100%;
  width: 100%;
}

.playbackControls {
  display: flex;
  align-items: center;

  > button {
    margin: 0 var(--hmargin-player-button);
  }
}

$titleFontWeight: 700;

.details {
  // For .detailsLabel.
  display: flex;
  align-items: center;

  // For HoverCard.
  position: relative;
}

.detailsLabel {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  font-weight: $titleFontWeight;
}

.volumeContainer {
  display: flex;
  align-items: center;
}

.volumeIcon {
  margin-right: 0.25rem;
}

.smallPlayer {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: min-content 1fr;
  grid-template-areas: 'progress progress' 'playback-controls details';

  .progress {
    margin: 0 var(--hmargin-player-elements);
  }

  .volumeContainer {
    display: none;
  }

  .details {
    // To enable text overflow ellipsis behaviour of .detailsLabel.
    overflow: hidden;
  }
}

@include growOneAnchorRest('.largePlayer', '.progress', 'center');

.largePlayer {
  .player > * {
    margin: 0 var(--hmargin-player-elements);
  }

  .details {
    min-width: 10rem;
    width: 20%;
    max-width: 20rem;
  }
}
