@import "../../common/style";

$auxiliary-height: 2rem;
$auxiliary-margin-top: 0.5rem;
$auxiliary-margin-bottom: 0.5rem;

.search {
  grid-area: search;
}

@include growOneAnchorRest(".search", ".searchInput", "stretch");

#search ~ * {
  // Search auxiliaries only show when #search has focus.
  height: 0;
  transition: 0.4s;

  font-size: 0.8rem;

  white-space: nowrap;

  // Hide margin when not focusing, as margin acts like height.
  margin: 0;
}

#search:focus ~ * {
  height: $auxiliary-height;
  line-height: $auxiliary-height;
  margin: $auxiliary-margin-top 0 $auxiliary-margin-bottom 0;
}

#search-error {
  background: red;
  color: white;
}

#search-error:empty {
  height: 0;
}

#search-suggestions {
  display: flex;
}

.search-suggestion {
  border-radius: 0.75rem;

  background: #444;
  color: #e2e2e2;

  padding: 0 0.5rem;
  margin-right: 0.5rem;

  transition: opacity 0.4s;
}

.search-suggestion:empty {
  padding: 0;
  opacity: 0;
}

@include media("<desktop") {
  #search-centre {
    flex-direction: column-reverse;

    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            #222 100%
    );
  }

  #search {
    background: #222;
    color: #999;

    font-size: 0.9rem;

    // Use fixed height to keep height same when font changes.
    height: 2.5rem;
    padding: 0 0.75rem;
  }

  #search:focus {
    // Allow #search-centre gradient to be visible.
    background: transparent;
    color: white;
  }

  #search:focus ~ #search-suggestions .search-suggestion {
    border: 2px solid #ff9933;
  }

  .search-suggestion:empty {
    // Hide border when empty so it isn't visible while transitioning.
    border: 0 !important;
  }

  #search ~ * {
    overflow: auto;
  }
}

@include media(">=desktop") {
  $input-height: 3.2rem;

  #search-centre {
    flex-direction: column;

    // This should be enough to contain both input (including margins) and auxiliary.
    height: $input-height + $auxiliary-margin-top + $auxiliary-margin-bottom + $auxiliary-height;
    max-width: 42rem;
  }

  #search {
    background: #111;
    border: 0.125rem solid gray;
    border-radius: 1rem;
    color: #555;

    font-size: 1rem;

    // Use fixed height to keep height same when font changes.
    height: $input-height;
    padding: 0 1rem;
  }

  #search ~ * {
    overflow: hidden;
  }

  #search:focus {
    border-color: #ff9933;
    background: #222;
    color: #999;
  }
}
