@import "../../common/style";

#player {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#controls-playback, #controls-volume {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#player button, #player input {
  border: 1px solid #222;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);

  flex: 0 0 auto;

  transition: 0.3s;

  height: 28px;
  width: 28px;
  margin: 3px;
}

#volume-input {
  width: 35px !important; /* Override #top input */
  text-align: center;
  font-size: 13px;
  color: white;
}

#player button {
  background-size: contain;
  background-repeat: no-repeat;
}

#button-play {
  background-image: url("../../resource/play.png");
}

#button-pause {
  background-image: url("../../resource/pause.png");
}

#button-previous {
  background-image: url("../../resource/back.png");
}

#button-next {
  background-image: url("../../resource/forward.png");
}

#button-mute {
  background-image: url("../../resource/mute.png");
}

#button-unmute {
  background-image: url("../../resource/unmute.png");
}

#current-song {
  flex-grow: 1;
}

#title {
  color: white;
  font-weight: 600;
  margin: 0;
}

#subtitle {
  color: #ccc;
  font-weight: 400;
  margin: 0;
}

@keyframes progress-loading {
  from {
    margin-left: -25%;
    width: 25%;
  }
  25% {
    margin-left: 15%;
  }
  50% {
    width: 25%;
  }
  70% {
    width: 70%;
  }
  80% {
    margin-left: 65%;
  }
  95% {
    margin-left: 120%;
  }
  to {
    margin-left: 100%;
  }
}

#progress-container, #progress {
  transition: 0.3s;
}

#progress-container {
  width: 100%;
}

#progress {
  background: rgba(255, 153, 51, 0.9);
  /* Width is set by JS and depends on currentTime of audio. */
  width: 0;
}

#player[data-loading="true"] #progress {
  animation: progress-loading 2s linear infinite;
  /* Use linear-gradient to emulate half-height bar without changing actual height and therefore document scroll. */
  background: linear-gradient(
                  to bottom,
                  rgba(0, 0, 0, 0) 0%,
                  rgba(0, 0, 0, 0) 49%,
                  rgba(180, 180, 180, 0.5) 50%
  );
}

#handle {
  background: white;
  display: none;
  position: absolute;
  width: 1.5px;
  bottom: 0;
  height: 16px;
}

@include media("<desktop") {
  #current-song {
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 6px 8px;
  }

  #title, #subtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #title {
    font-size: 16px;
  }

  #subtitle {
    font-size: 13px;
  }

  #controls-volume {
    display: none;
  }

  #controls-playback {
    width: 100%;
  }

  #player[data-loading="false"] #progress-container {
    background: rgba(180, 180, 180, 0.5);
  }

  #progress {
    height: 6px;
  }
}

@include media(">=desktop") {
  #player .playlist-toggle {
    display: none;
  }

  #progress-container {
    cursor: text;
  }

  #progress {
    opacity: 0.6;
    height: 10px;
  }

  #player:hover #progress {
    opacity: 1;
  }

  #top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 4px;
  }

  #current-song {
    text-align: center;
  }

  #title {
    font-size: 18px;
  }

  #subtitle {
    font-size: 15px;
    margin-bottom: 5px;
  }

  #top button, #top input {
    opacity: 0.5;
  }

  #top button:hover, #top input:hover {
    opacity: 1;
  }

  #progress-container:hover #handle {
    display: block;
  }
}
