:root {
  --fontsize-content: 16px;
  --lineheight-content: 1.33;

  --height-toolbar: 2.5rem;
  --height-player: 2.5rem;

  --fontsize-search-suggestion: 0.875rem;
  --padding-search-suggestion: 0.5rem 0.75rem;

  --width-organiser-options: 30rem;

  --padding-list-cell: 0.5rem 1rem;

  --hmargin-player-elements: 0.25rem;
  --hmargin-player-button: 0.25rem;

  --margin-playlist-control: 0.25rem;
  --fontsize-playlist-entry: 0.875rem;
  --vpadding-playlist-entry: 0.75rem;
  --margin-playlist-entry-nonlabel: 0.5rem;
  --bmargin-playlist-entry-title: 0;

  --length-iconbutton: 1.75rem;

  --width-player-card: 27.5rem;
  --fontsize-player-card-field: 1rem;
  --vmargin-player-card-field: 0.33rem;

  --padding-hovercard: 0.67rem;

  --fontsize-button: 0.75rem;
  --padding-button: 0.5rem 0.75rem;

  --fontsize-input: 0.875rem;
  --padding-input: 0.5rem;

  --fontsize-dropdown-value: 0.875rem;
  --padding-dropdown-value: 0.5rem 0.75rem;
  --fontsize-dropdown-option: 0.875rem;
  --padding-dropdown-option: 0.75rem;
}
