@import '~common/style';

.input {
  @include noAppearance();

  background: var(--color-input-background);
  border: $borderWidth solid var(--color-input-border);
  border-radius: $borderRadius;
  box-shadow: inset 0 0 $insetShadowRadius var(--color-input-insetshadow);
  line-height: var(--lineheight-content);
  font-size: var(--fontsize-input);
  font-family: inherit;
  padding: var(--padding-input);
}
