.view {
  height: 100%;
  width: 100%;
}

.dir {
  background: #ccc;
  cursor: pointer;
  display: inline-block;
  margin: 0.5rem 0 0 0.5rem;
  padding: 1rem;
  vertical-align: top;
}

.tilesContainer {
  width: 100%;
}
