@import "../../common/style";

#playlist-menu {
  display: none;
  position: fixed;
}

[data-playlist-open="true"] #playlist-menu {
  display: block;
}

#playlist-controls {
  height: 36px;
  display: flex;
  align-items: center;
}

#playlist-controls > button {
  font-size: 12px;
  color: #555;
  padding: 3px;
  margin: 0 5px;
}

#app[data-repeat-mode="1"] #repeat-one-button,
#app[data-repeat-mode="2"] #repeat-all-button,
#app[data-shuffle-mode="1"] #shuffle-button {
  color: #ff9933;
}

#playlist-queue {
  max-height: calc(100% - 36px); /* Use max-height so that large :hover doesn't occur while hovering over emptyness */
  overflow: auto;
}

#playlist-queue:empty {
  height: calc(100% - 36px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#playlist-queue:empty::before,
#playlist-queue:empty::after {
  color: gray;
  display: block;
  text-align: center;
  padding: 8px 12px;
}

#playlist-queue:empty::before {
  content: 'No tracks queued';
  font-size: 22px;
}

#playlist-queue:empty::after {
  content: 'Add tracks to play by clicking or tapping a track in the library';
  font-size: 14px;
}

.playlist-entry {
  display: flex;
  align-items: center;
  padding: 12px 8px;
  cursor: pointer;
}

.playlist-entry-text-container {
  overflow: hidden; /* So that child text elements can text-overflow */
  white-space: nowrap;
  padding-right: 14px;
}

.playlist-entry-title, .playlist-entry-subtitle {
  text-overflow: ellipsis;
  overflow: hidden;
}

.playlist-entry-title {
  font-size: 13px;
}

.playlist-entry[data-playing="true"] .playlist-entry-title {
  color: #ff9933;
}

.playlist-entry[data-playing="true"] .playlist-entry-subtitle {
  color: rgba(255, 153, 51, 0.6);
}

.playlist-entry-subtitle {
  font-size: 11px;
  color: gray;
}

.playlist-entry-delete-button {
  border-radius: 18px;
  height: 18px;
  width: 18px;
  line-height: 18px;
  background: #333;
  color: #555;
  font-size: 14px;
}

@include media("<desktop") {
  #playlist-menu {
    bottom: 40px;
    left: 0;
    right: 0;

    height: 250px;
    background: #222;
  }
}

@include media(">=desktop") {
  #playlist-menu {
    top: 55px;
    right: 15px;

    background: rgba(30, 30, 30, 0.96);
    box-shadow: 6px 6px 12px #111;

    height: 285px;
    width: 300px;
  }

  #playlist-menu button:hover {
    color: white;
  }

  #playlist-queue:hover .playlist-entry {
    opacity: 0.2;
  }
  #playlist-queue:hover .playlist-entry:hover {
    opacity: 1;
  }
}
