@import "../../common/style";

#library {
  max-width: 100rem;
  margin: 0 auto;
}

@include media("<desktop") {
  #library {
    padding: 15px 20px 0 20px; /* padding-bottom is emulated by ::after because Firefox */
  }

  #library::after {
    height: 15px;
    display: block;
    content: '';
  }
}

@include media(">=desktop") {
  #library {
    padding: 16px 30px 0 30px; /* padding-bottom is emulated by ::after because Firefox */
    overflow: auto;
    flex-grow: 1;
  }

  #library::after {
    height: 70px;
    content: '';
    display: block;
  }
}

.artist:not(:last-child) {
  margin-bottom: 65px;
}

.artist[data-hidden="true"] {
  display: none;
}

.artist-name {
  font-size: 28px;
  margin: 0 0 18px 0;
  font-weight: 500;
  color: #aaa;
}

.track {
  border-width: 1px 0;
  border-style: solid;
  border-color: #242424;
}

.track > .td {
  line-height: 1.45;
  padding: 7px;
}

.track-number {
  color: gray;
}

.track-title:empty::before {
  color: gray;
  content: 'No title';
  font-style: italic;
}

.featuring-artist {
  font-weight: 500;
}

.featuring-artist:not(:last-child)::after {
  content: ', ';
}

