@import "../../common/style";

.album:not(:last-child) {
  margin-bottom: 32px;
}

.album-details {
  margin-bottom: 8px;
}

.album-name {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 4px 0;
}

.album-subtitle {
  font-size: 14px;
  color: gray;
}

.album-genre:not(:last-child)::after {
  content: ', ';
}

.album-year:empty::before {
  content: 'Unknown year';
}

.album-features:not(:empty)::before {
  content: 'Featuring ';
}

.album-features {
  color: gray;
}

@include media("<desktop") {
  .album-features {
    font-size: 14px;
  }
  .album-features:not(:empty) {
    margin-top: 2px;
  }
}

@include media(">=desktop") {
  .album-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .album-details > .left, .album-details > .right {
    flex: 0 0 auto;
  }

  .album-features:not(:empty)::before {
    font-weight: lighter;
  }

  .album-features {
    font-size: 13px;
  }
}
