@import "../../common/style";

#search {
  color: #333;

  flex-grow: 1;
}

@include media("<desktop") {
  #search {
    background: rgba(255, 255, 255, 0.15);
    padding: 0.66rem;
  }
}

@include media(">=desktop") {
  #search {
    background: rgba(255, 255, 255, 0.92);
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    max-width: 42rem;
  }
}
