@import "~common/style";

.search {
  grid-area: search;

  color: var(--color-search-text);

  // For .auxiliary.
  position: relative;
}

@include growOneAnchorRest(".search", ".searchInput", "center");

.auxiliary {
  z-index: $zIndexControlMenu;
  padding: 0;
  margin: 0;

  background: var(--color-search-suggestions-background);
  border-radius: var($borderRadius);
  box-shadow: 0 0 1rem var(--color-search-suggestions-shadow);

  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

.suggestions {
  display: flex;
  align-items: stretch;
  white-space: nowrap;
  overflow: hidden;
}

.suggestion {
  @include bareButton();

  font-size: var(--fontsize-search-suggestion);
  padding: var(--padding-search-suggestion);

  &:hover {
    background: var(--color-search-suggestion-background);
  }

  &:nth-child(odd) {
    color: var(--color-search-suggestion-text-odd);
  }

  &:nth-child(even) {
    color: var(--color-search-suggestion-text-even);
  }
}

.error {
  // TODO.
  background: red;
  color: white;
}

.suggestion {
  display: block;
}
