@import "~common/style";

.button {
  // Reset UA styling.
  padding: 0;

  cursor: pointer;

  border: $borderWidth solid var(--color-button-border);
  border-radius: $borderRadius;
  background: var(--color-button-background);
}

.iconButton {
  height: var(--length-iconbutton);
  width: var(--length-iconbutton);
  margin: 0 var(--hmargin-iconbutton);
}
