@import "../../common/style";

#library {
  grid-area: library;
}

@include media("<desktop") {
  #library {
    padding: 15px 20px;
  }
}

@include media(">=desktop") {
  #library {
    padding: 16px 30px;
  }
}

.artist:not(:last-child) {
  margin-bottom: 65px;
}

.artist-name {
  font-size: 28px;
  margin: 0 0 18px 0;
  font-weight: 500;
  color: #aaa;
}

.track {
  border-width: 1px 0;
  border-style: solid;
  border-color: #242424;
}

.track > .td {
  line-height: 1.45;
  padding: 7px;
}

.track-number {
  color: gray;
}

.track-title:empty::before {
  color: gray;
  content: 'No title';
  font-style: italic;
}

.featuring-artist {
  font-weight: 500;
}

.featuring-artist:not(:last-child)::after {
  content: ', ';
}

