@import "../../common/style";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@include media("<desktop") {
  #app-branding {
    display: none;
  }

  header .playlist-toggle {
    display: none;
  }
}

@include media(">=desktop") {
  #app-branding {
    display: flex;
    align-items: center;
  }

  #app-logo, #app-title {
    font-weight: 600;
  }

  #app-logo {
    font-size: 42px;
    margin-right: 5px;
    padding: 0 20px;
  }

  #app-title {
    margin: 0 35px 0 0;
    font-size: 30px;
    color: #ff9933;
  }
}
