@import "~common/style";

.container {
  background: var(--color-list-background);
  color: var(--color-list-text);
}

$loadingAnimationDelay: 1s;

.loadingContainer {
  height: 0;

  overflow: hidden;

  transition-property: height;
  transition-duration: $transitionTime;
}

.isLoading .loadingContainer {
  height: 0.33rem;

  // Same as .loadingBar animation delay.
  // This is done to prevent animations toggling very quickly
  // when doing many actions or actions completing very quickly.
  // NOTE: We don't want to delay hiding the progress bar,
  // only showing it, which is why it's in this block.
  transition-delay: $loadingAnimationDelay;
}

.loadingBar {
  @include animationIndefiniteLoading($loadingAnimationDelay);

  background: var(--color-list-loading-background);
  height: 100%;
}

.list {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

  opacity: 1;
  transition: opacity $transitionTime;
}

.isLoading .list {
  opacity: 0.4;
}

.headingCell {
  position: -webkit-sticky;
  position: sticky;

  top: 0;

  background: var(--color-list-heading-background);
}

.messageCell {
  text-align: center;
  padding: 1rem;
  font-size: 0.875rem;
  color: var(--color-list-message);
}

@keyframes:global(breathingText) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loadingCell {
  opacity: 0;
  :global {
    animation: $transitionTime linear $loadingAnimationDelay forwards breathingText;
  }
}

.groupTitleCell {
  text-align: left;
  padding: 0.25rem 0.5rem;
}

.groupTitleCellContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
