@import '~common/style';

.list {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

  opacity: 1;
  transition: opacity $transitionTime;
}

.isLoading .list {
  opacity: 0.4;
}

.headingCell {
  position: -webkit-sticky;
  position: sticky;

  top: 0;

  background: var(--color-list-heading-background);
}

.messageCell {
  text-align: center;
  padding: 1rem;
  font-size: 0.875rem;
  color: var(--color-list-message);
}

.groupTitleCell {
  font-weight: bold;
  padding: 0.25rem 0.75rem;
  font-size: 1.5rem;
}

.subgroupTitleCell {
  font-weight: bolder;
  padding: 0 0.75rem;
}

.groupTitleContent, .subgroupTitleContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
