@import "~common/style";

.app {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Ubuntu, Cantarell, Oxygen, Fira Sans, sans-serif;
  font-size: var(--fontsize-content);
  line-height: var(--lineheight-content);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

$areas: 'toolbar', 'libraries', 'organiser', 'search', 'songs', 'playlist', 'player';

@each $area in $areas {
  .#{$area} {
    grid-area: #{$area};

    > * {
      height: 100%;
      width: 100%;
    }
  }
}

.songs {
  overflow: auto;
}

body[vm=small] {
  .app {
    overflow: auto;
  }

  .toolbar {
    display: grid;

    grid-template-rows: auto auto;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "search search" "libraries organiser";
  }

  $playlistHeight: 2.5rem;
  $playerHeight: 3.5rem;

  .songs {
    padding-bottom: $playlistHeight + $playerHeight;
  }

  .playlist, .player {
    position: fixed;
    left: 0;
    right: 0;
  }

  .playlist {
    height: $playlistHeight;
    bottom: $playerHeight;
  }

  .player {
    bottom: 0;
    height: $playerHeight;
  }
}

body[vm=large] {
  .app {
    display: grid;

    grid-template-rows: var(--height-toolbar) 1fr var(--height-player);
    grid-template-columns: 1fr 16rem;
    grid-template-areas: "toolbar playlist" "songs playlist" "player player";
  }

  .toolbar {
    display: grid;

    grid-area: toolbar;

    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr 1.5fr;
    grid-template-areas: "libraries search organiser";
  }
}
